[Desktop Entry]
Version=1.0
Type=Application
Name=CODRUG
Comment=QSAR analysis and machine learning tool
Comment[pt_BR]=Ferramenta de análise QSAR e aprendizado de máquina
Exec=/usr/bin/codrug
Icon=/opt/codrug/MIDIA/CODRUG.png
Terminal=false
Categories=Science;Qt;
StartupNotify=false
